 {% extends "./base.html" %}
{% block content %}
{% load static %}

<head>
<link href="../static/css.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="wrapper-grey padded">
      <div class="container">
        <h2 class="text-center">Districts</h2>
         <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('../static/districts/anantapur.jpeg');">

              <div class="card-description">
                <h2>ANANTAPUR</h2>

              </div>
              <a class="card-link" href="/ananthapur"></a>
            </div>
         </div>

           <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('../static/districts/chittoor.jpeg');">

              <div class="card-description">
                <h2>CHITTOOR</h2>

              </div>
              <a class="card-link" href="/chittoor" ></a>
            </div>
          </div>
            <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('../static/districts/eastgodavari.jpeg');">

              <div class="card-description">
                <h2>EAST GODAVARI</h2>

              </div>
              <a class="card-link" href="/eastgodavari" ></a>
            </div>
          </div>
            <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('../static/districts/guntur.jpeg');">

              <div class="card-description">
                <h2>GUNTUR</h2>

              </div>
              <a class="card-link" href="/guntur" ></a>
            </div>
            </div>
              <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('../static/districts/kadapa.jpeg');">

              <div class="card-description">
                <h2>KADAPA</h2>

              </div>
              <a class="card-link" href="/kadapa" ></a>
            </div>
          </div>
                  <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('../static/districts/krishna.jpeg');">

              <div class="card-description">
                <h2>KRISHNA</h2>

              </div>
              <a class="card-link" href="/krishna" ></a>
            </div>
          </div>

               <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('../static/districts/kurnool.jpeg');">

              <div class="card-description">
                <h2>KURNOOL</h2>

              </div>
              <a class="card-link" href="/kurnool" ></a>
            </div>
          </div>

              <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('../static/districts/nellore.jpeg');">

              <div class="card-description">
                <h2>NELLORE</h2>

              </div>
              <a class="card-link" href="/nellore" ></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('../static/districts/prakasham.jpg');">

              <div class="card-description">
                <h2>PRAKASAM</h2>

              </div>
              <a class="card-link" href="/prakasam" ></a>
            </div>
          </div>

              <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('../static/districts/srikakulam.jpeg');">

              <div class="card-description">
                <h2>SRIKAKULAM</h2>

              </div>
              <a class="card-link" href="/srikakulam" ></a>
            </div>
          </div>

        <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('../static/districts/vizag.jpeg');">

              <div class="card-description">
                <h2>VISAKHAPATNAM</h2>

              </div>
              <a class="card-link" href="/visakhapatnam" ></a>
            </div>
          </div>


          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('../static/districts/vizianagaram.jpeg');">

              <div class="card-description">
                <h2>VIZIANAGARAM</h2>

              </div>
              <a class="card-link" href="/vizianagaram" ></a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('../static/districts/westgodavari.jpeg');">

              <div class="card-description">
                <h2>WEST GODAVARI</h2>

              </div>
              <a class="card-link" href="/westgodavari" ></a>
            </div>
          </div>
        </div>
      </div>

  </body>
