<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'logo.jpeg' %}"/>
    <title>Tamilnadu</title>
</head>
<body>
    

    <main class="mobile_view">
        <div class="container ">

            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>A.S IMAGING CENTRE Private LTD, ARIYALUR TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Ariyalur</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>ARIYALUR GOLDEN HOSPITAL Private.LTD, ARIYALUR TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Ariyalur</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>MM HOSPITAL, ARIYALUR, TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Ariyalur</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Annai Arul Hospital, Kanchipuram TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chengalpattu</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>C-DOT HOSPITAL,KANCHEEPURAM TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chengalpattu</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Chettinad Super Speciality Hosp,Kancheepuram TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chengalpattu</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Dr Kamakshi Memorial Hospital,Kancheepuram TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chengalpattu</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Dr. Rela Inst. and Medical Centre,Kancheepuram TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chengalpattu</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Gleneagles Global Health City, Kancheepuram TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chengalpattu</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Hindu Mission Hospital,Kancheepuram TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chengalpattu</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Karpaga Vinyaga Institute Kancheepuram ,TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chengalpattu</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Melmaruvathur Adhiparsakthi Inst, Kancheepuram TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chengalpattu</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Narbhavi Multispeciality Hospital, Kancheepuram TN<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Kancheepuram</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Parvathy Ortho Hospital, Kancheepuram TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chengalpattu</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Sai fertility centre and hospital,Kancheepuram TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chengalpattu</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Sayee Hospitals,Padappai,Kancheepuram TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Kancheepuram</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Shadithya Health Care, Kancheepuram TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chengalpattu</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Shri Sathya Sai Medical College, Kancheepuram TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chengalpattu</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>SREE RENGA NURSING HOME , KANCHEEPURAM TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chengalpattu</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Sri Balaji Medical Coll and Hosp, Kancheepuram TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chengalpattu</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>SRM Medical College Hospital, Kancheepuram TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chengalpattu</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>St. Thomas Hospital,Chennai TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chengalpattu</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Sugam Hospital, Kancheepuram TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chengalpattu</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Tagore Medical Coll and Hosp, Kancheepuram TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chengalpattu</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Balaji Hospital, Kancheepuram TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chengalpattu</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Hindu Mission Health Services , Kancheepuram TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chengalpattu</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Sankara Eye Hospital,Kancheepuram TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chengalpattu</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>SRICHAKARAMULTISPECIALITY HOSPITALKANCHIPURAM TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chengalpattu</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Shri Gangadhareshwarar Hth Ser Pvt,Kanchipuram TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chengalpattu</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Adyar PM Hospital,Adyar,Chennai TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chennai</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Annai multi speciality,Virugambakkam,Chennai TN<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chennai</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Apollo Childrens Hospital,Chennai TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chennai</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Apollo Greams,Chennai TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chennai</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>APOLLO SPECIALTY HOSPITAL, Chennai TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chennai</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Apollo Spectra Hospital, R.A Puram, Chennai TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chennai</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Appasamy Hospitals,Chennai TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chennai</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Bharathirajaa Speciality Hospital, Chennai TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chennai</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Billroth Hospitals Shenoy Nagar, Chennai TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chennai</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Billroth,Chennai TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chennai</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Bloom Health Care, Chennai TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chennai</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Cancer Institute Adyar,Chennai TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chennai</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Chennai National Hospital, Chennai TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chennai</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Chennai Urology and Robotics Inst. OMR,Chennai TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chennai</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>CSI KALYANI GENERAL HOSPITAL, Chennai TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chennai</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>CSI RAINY MULTISPECIALITY HOSP , CHENNAI TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chennai</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Dr Mehtas Hospitals Chetpet,Chennai TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chennai</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Dr Rai Memorial Cancer Institute,Chennai TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chennai</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Dr. Agarwals Eye Hospital,Chennai TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chennai</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Faith Multispecialty Hospital,Chennai TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chennai</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Gem Hospital and Research Ctr Private.Ltd,Chennai TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chennai</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Hycare Super Speciality Hospital, Chennai TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chennai</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>K.V.T SPECIALITY HOSPITAL,CHENNAI TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chennai</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Kanchi Kamakoti Child Trust Hospital ,Chennai TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chennai</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Kavery Hospital Chennai,TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chennai</span>
            </div></div>
            <div class="container mt-5 border border-3 p-3 rounded-3 ">
                            <h5>Kumaran Hospital Kilpauk, Chennai TN.<a href="#"><i class="fas fa-map-marker-alt"></i></a></h5>
                            <div class="mt-3"><span class="rounded p-1" style="background-color:rgb(85, 84, 84);color:white">Chennai<a href="#"></i></a></h5>
            </div></div>

            
        </div>
    </main>

    <main class="desktop_view">
          <div class="innersearch">
              <div>
                <input placeholder="Enter search term" type="search" id="searchInput">
              </div>
            <div class="icon">
              <i class="far fa-search"></i>
            </div>
          </div>
        
        
        <div class="table-wrapper">
          <table id="filterTable">
            <thead>
              <tr>
                <th data-type="text">S.No</th>
                <th data-type="text" style="text-align:center";>District</th>
                <th data-type="text" style="text-align:center";>Hospital Name</th>
                <th>Location   <i class="fas fa-map-marker-alt"></i></th>
              </tr>
            </thead>
            <tbody>
                    
                
                
<tr><td id="1">1</td><td>Ariyalur</td><td>A.S IMAGING CENTRE Private LTD, ARIYALUR TN.</td><td><a href="#">Location</a></td></tr>
 <tr><td id="2">2</td><td>Ariyalur</td><td>ARIYALUR GOLDEN HOSPITAL Private.LTD, ARIYALUR TN.</td><td><a href="#">Location</a></td></tr>
 <tr><td id="3">3</td><td>Ariyalur</td><td>MM HOSPITAL, ARIYALUR, TN.</td><td><a href="#">Location</a></td></tr>
 <tr><td id="4">4</td><td>Chengalpattu</td><td>Annai Arul Hospital, Kanchipuram TN.</td><td><a href="#">Location</a></td></tr>
 <tr><td id="5">5</td><td>Chengalpattu</td><td>C-DOT HOSPITAL,KANCHEEPURAM TN.</td><td><a href="#">Location</a></td></tr>
 <tr><td id="6">6</td><td>Chengalpattu</td><td>Chettinad Super Speciality Hosp,Kancheepuram TN.</td><td><a href="#">Location</a></td></tr>
 <tr><td id="7">7</td><td>Chengalpattu</td><td>Dr Kamakshi Memorial Hospital,Kancheepuram TN.</td><td><a href="#">Location</a></td></tr>
 <tr><td id="8">8</td><td>Chengalpattu</td><td>Dr. Rela Inst. and Medical Centre,Kancheepuram TN.</td><td><a href="#">Location</a></td></tr>
 <tr><td id="9">9</td><td>Chengalpattu</td><td>Gleneagles Global Health City, Kancheepuram TN.</td><td><a href="#">Location</a></td></tr>
 <tr><td id="10">10</td><td>Chengalpattu</td><td>Hindu Mission Hospital,Kancheepuram TN.</td><td><a href="#">Location</a></td></tr>
 <tr><td id="11">11</td><td>Chengalpattu</td><td>Karpaga Vinyaga Institute Kancheepuram ,TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="12">12</td><td>Chengalpattu</td><td>Melmaruvathur Adhiparsakthi Inst, Kancheepuram TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="13">13</td><td>Kancheepuram</td><td>Narbhavi Multispeciality Hospital, Kancheepuram TN</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="14">14</td><td>Chengalpattu</td><td>Parvathy Ortho Hospital, Kancheepuram TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="15">15</td><td>Chengalpattu</td><td>Sai fertility centre and hospital,Kancheepuram TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="16">16</td><td>Kancheepuram</td><td>Sayee Hospitals,Padappai,Kancheepuram TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="17">17</td><td>Chengalpattu</td><td>Shadithya Health Care, Kancheepuram TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="18">18</td><td>Chengalpattu</td><td>Shri Sathya Sai Medical College, Kancheepuram TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="19">19</td><td>Chengalpattu</td><td>SREE RENGA NURSING HOME , KANCHEEPURAM TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="20">20</td><td>Chengalpattu</td><td>Sri Balaji Medical Coll and Hosp, Kancheepuram TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="21">21</td><td>Chengalpattu</td><td>SRM Medical College Hospital, Kancheepuram TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="22">22</td><td>Chengalpattu</td><td>St. Thomas Hospital,Chennai TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="23">23</td><td>Chengalpattu</td><td>Sugam Hospital, Kancheepuram TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="24">24</td><td>Chengalpattu</td><td>Tagore Medical Coll and Hosp, Kancheepuram TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="25">25</td><td>Chengalpattu</td><td>Balaji Hospital, Kancheepuram TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="26">26</td><td>Chengalpattu</td><td>Hindu Mission Health Services , Kancheepuram TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="27">27</td><td>Chengalpattu</td><td>Sankara Eye Hospital,Kancheepuram TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="28">28</td><td>Chengalpattu</td><td>SRICHAKARAMULTISPECIALITY HOSPITALKANCHIPURAM TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="29">29</td><td>Chengalpattu</td><td>Shri Gangadhareshwarar Hth Ser Pvt,Kanchipuram TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="30">30</td><td>Chennai</td><td>Adyar PM Hospital,Adyar,Chennai TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="31">31</td><td>Chennai</td><td>Annai multi speciality,Virugambakkam,Chennai TN</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="32">32</td><td>Chennai</td><td>Apollo Childrens Hospital,Chennai TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="33">33</td><td>Chennai</td><td>Apollo Greams,Chennai TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="34">34</td><td>Chennai</td><td>APOLLO SPECIALTY HOSPITAL, Chennai TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="35">35</td><td>Chennai</td><td>Apollo Spectra Hospital, R.A Puram, Chennai TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="36">36</td><td>Chennai</td><td>Appasamy Hospitals,Chennai TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="37">37</td><td>Chennai</td><td>Bharathirajaa Speciality Hospital, Chennai TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="38">38</td><td>Chennai</td><td>Billroth Hospitals Shenoy Nagar, Chennai TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="39">39</td><td>Chennai</td><td>Billroth,Chennai TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="40">40</td><td>Chennai</td><td>Bloom Health Care, Chennai TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="41">41</td><td>Chennai</td><td>Cancer Institute Adyar,Chennai TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="42">42</td><td>Chennai</td><td>Chennai National Hospital, Chennai TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="43">43</td><td>Chennai</td><td>Chennai Urology and Robotics Inst. OMR,Chennai TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="44">44</td><td>Chennai</td><td>CSI KALYANI GENERAL HOSPITAL, Chennai TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="45">45</td><td>Chennai</td><td>CSI RAINY MULTISPECIALITY HOSP , CHENNAI TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="46">46</td><td>Chennai</td><td>Dr Mehtas Hospitals Chetpet,Chennai TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="47">47</td><td>Chennai</td><td>Dr Rai Memorial Cancer Institute,Chennai TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="48">48</td><td>Chennai</td><td>Dr. Agarwals Eye Hospital,Chennai TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="49">49</td><td>Chennai</td><td>Faith Multispecialty Hospital,Chennai TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="50">50</td><td>Chennai</td><td>Gem Hospital and Research Ctr Private.Ltd,Chennai TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="51">51</td><td>Chennai</td><td>Hycare Super Speciality Hospital, Chennai TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="52">52</td><td>Chennai</td><td>K.V.T SPECIALITY HOSPITAL,CHENNAI TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="53">53</td><td>Chennai</td><td>Kanchi Kamakoti Child Trust Hospital ,Chennai TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="54">54</td><td>Chennai</td><td>Kavery Hospital Chennai,TN.</td><td><a href="#">Location</a></td></tr>
 <tr class="hidden"><td id="55">55</td><td>Chennai</td><td>Kumaran Hospital Kilpauk, Chennai TN.</td><td><a href="#">Location</a></td></tr>
                                
            </tbody>
          </table>
        </div>
        <div class="pagination">
            <button class="backward" id="first">first</button>
            <button class="backward" id="prev">previous</button>
            <button class="forward" id="next">next</button>
            <button class="forward" id="last">last</button>
            <div class="page-numbers" id="pageNumbers"></div>
          </div>
      </main>

<script src="index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>